/*General Definations*/

$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1450px;
$siteContainerWidthMiddle: 1340px;
$siteContainerWidthShort: 1120px;
$siteContainerWidthMobile: 960px;
$siteContainerWidthFull: 100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);

/*Site fonts*/
$light: "light";
$regular: "regular"; 
$medium: "medium";
$bold: "bold";
$font2:"font2";
$font3:"font3";

/* old */
$webl: "webl";
$webr: "webr";
$sBold: "sBold";
$pdRegular: "pdRegular";
$pdBoldItalic: "pdBoldItalic";
$dRegular: "dRegular";
$dItalic: "dItalic";
$tl:"tl";


$ltSpace:1px;

/*New colors*/
$clr1: #27262b;


$fcolor:#231F20;
$lGray:#F3F3F3;
$lDark:#27262b; 
$gray3:#cacaca;
$dGray: #6E6D6E;
$eGray:#e6e7e9;
$nDark: #222;
$darkBlack:#111;
$red:#ff374a;
$green:#1edeac;
$gold: #ffb604;
$ffYellowL:#ffb604;

$fbBtnColor:#3656b7;
$btnColor: #1a1a1a;
$btnAlternateColor:#171d2f;


/*Old site colors*/
$fdYellow:#fdde00;
$edGray:#ededed;
$border:#e6e7e9;
$inputborder:#e6e7e9;